/* global setting */
*{
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
    
}
/* navbar-block */
#navbar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-left-space{
    height: 9vh;
    width: 1vw;
}

#nav-logo{
    height: 9vh;
    width: 10vw;
}

#nav-logo img{
    height: 8vh;
    width: 11vw

}#nav-logo-line{
    height: 6.5vh;
    border: 2px solid #c4bfbf;
}

#nav-bar-center{ 
    margin: 0px 10px 0px;
    height: 9vh;
    width: 52vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-detials{
    height: 9vh;
    width: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nav-bar-right{ 
    height: 9vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right{
    height: 9vh;
    width: 15vw;
    display: flex;
    align-items: center;
}

.nav-right img{
    margin-left: 120px;
    height: 3vh;
    width: 2vw;
}

#nav-right-line{
    margin-left: 10px;
    height: 6.5vh;
    border: 2px solid #c4bfbf;
}

#nav-right-3{
    margin-left: 30px;
    height: 7vh;
    width: 9vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nav-right-3 img{
    height: 3vh;
    width: 2vw;
    mix-blend-mode: multiply;
}


/* slide block */
#slide-block{
    height: 650px;
    width: 100%; 
}

.d-block-w-100{
    height: 650px;
    width: 99.99%;
 
}


/* search destination */

.search-destination{
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#040E27;
}

.search1{
    height: 5vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.search1 input{
    font-size: 2.3vh;
    color: white;
    background-color:#040E27;
}

.search1 button{
    height: 5vh;
    width: 9vw;
    background: transparent;
    background-color: red;
    color: white;
}

input::placeholder{
    color: white ;
}


/* div-space */

.div-space-1{
    height: 15vh;
}


/* destintion-block */

#destintion-block{

    height: 25vh;
    color: black;
    text-align: center;
    color: #7A838B;
    
}

#destintion-info h1{
    padding-top: 30px;
    color: black;
}

/* photo-block */

#photo-block-1{
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo-block-2{
    height: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-card{
    height: 25vh;
    width: 23vw;
}

.photo-space{
    height: 30vh;
    width: 5vw;
}

.photo-card img{
    height: 30vh;
    width: 22.98vw;
    border-radius: 20px;
}


.photo-card:hover{
    transform: translateY(-15px);
    transition-duration: 1s;

}


/* div-space */

.div-space-2{
    height: 20vh;
}


/* subcribe network */

.subscribe-network{
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3C495D;
}

#subscribe-left{
    height: 12vh;
    width: 30vw;
}

#subscribe-left h4{
    padding: 4px 0px 0px 83px;
    color: white;
}

#subscribe-left h5{
    padding: 4px 0px 0px 20px;
    color: white;
}

#subscribe-center{
    height: 10vh;
    width: 27vw;
}

#subscribe-center input{
    background-color: #3C495D;
    height: 6vh;
    width: 23vw;
    color: white;
}

input::placeholder{
    color: rgb(241, 235, 235) ;
}

#subscribe-right{
    height: 10vh;
    width: 15vw;
}

#subscribe-center{
    text-decoration: red;
}

#subscribe-right button{
    height: 5vh;
    width: 9vw;
    background: transparent;
    background-color: red;
    color: white;
    margin-top: 10px;
}


/* div-space */

.div-space-3{
    height: 10vh;
}

/* destintion-block */

#place-block{
    height: 25vh;
    color: black;
    text-align: center;
    color: #7A838B;
    
}

.place-info h1{
    padding-top: 30px;
    color: black;
}


/* card block */


.card-block-1{
    height: 52vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-div{
    margin-left: 20px;
    height: 39vh;
    width: 23vw;
    box-shadow:2.5px 2.5px 0px 0px rgba(57, 56, 56, 0.896);
}

#card-a{
    text-decoration: none;
}
.card-div h5{
    color: rgb(76, 73, 73);
}

.card-1{
    height: 25vh;
    margin-bottom: 5px;
    box-shadow: 10px;
}

.card-1 img{
    height: 24.7vh;
    width: 22.7vw;
    border-radius: 10px;
}

.card-info-1{
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info-1-lf{
    height: 4vh;
    width: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-info-2-lf{
    height: 4vh;
    width: 6vw;
}

.card-info-2-lf h6{
    padding-top: 5px;
    color: rgb(76, 73, 73);
}

.card-info-2-lf img{
    height: 3vh;
    width: 6vw;
}

.card-info-3-lf{
    height: 4vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: multiply;
} 

.card-info-3-lf img{
    height: 2.5vh;
    width: 1.5vw;
    margin-left: 45px;
}

.card-info-3-lf h6{
    padding: 5px 0px 0px 10px;
    color: rgb(76, 73, 73);
}

.card-block-2{
    height: 43vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}


/* div-space */

.div-space-3{
    height: 15vh;
}


/* other-option block */

#other-option-block{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-block{
    height: 27vh;
    width: 25vw;
}

.option-block img{
    height: 13vh;
    width: 11vw;
    margin-left: 110px;
}

#one{
    padding: 20px 0px 0px 70px;
}
#two{
    padding: 10px 0px 0px 50px;
}
#three{
    padding: 20px 0px 0px 115px;
}
#four{
    padding: 10px 0px 0px 60px;
}
#five{
    padding: 20px 0px 0px 130px;
}
#six{
    padding: 10px 0px 0px 70px;
}


/* footer block */

#footer-block{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060F24;
}

.footer-div{
    height: 30vh;
    width: 25vw;
}

#footer-img{
    height: 12vh;
    width: 25vw;

}

#footer-img img{
    height: 8vh;
    width: 13vw;
    color: white;
}

.footer-div h3{
    padding-top: 11px;
    color: rgb(196, 190, 190);
}

.footer-div h6{
    padding-top: 10px;
    color: rgb(126, 119, 119);
}

#footer-line{
    height: 20vh;
    width: 0vw;
    border: 2px solid rgb(126, 119, 119);
}

/* scroll-bar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(99,99,99);
  background: linear-gradient(180deg,rgb(99,99,99));
  border-radius: 10px;
}

#a1{
    text-decoration: none;
    color: black;
    scroll-behavior: smooth;
}